# Compiler files
cache/
out/

# Solidity Compiler
soljson-*

# Ignores development broadcast logs
!/broadcast
## SEI Dev net
/broadcast/*/713715/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env



# IDE 
.vscode